@page "/CreateProject"
@layout MainLayout
@using MudBlazor
@inherits CreateProjectViewModel

<div style="height: 100%; display: grid; grid-template-columns: 1fr 500px 1fr; grid-template-rows: 1fr 500px 1fr;">
    <MudPaper Style="grid-row: 2; grid-column: 2; padding: 15px; height: 100%;">
        <MudStack Style="height: 100%;">
            <MudStack AlignItems="AlignItems.Stretch">
                <h1>Create Project</h1>

                <MudTextField Label="Project Name" Clearable="true"
                              @bind-Value="@Name" Variant="@Variant.Text" />

                <MudTextField Style="word-break: break-all;" Label="Starting Url" Clearable="true" InputType="InputType.Url"
                              @bind-Value="@Url" Variant="@Variant.Text" />

                <MudCheckBox Label="Load Images" LabelPosition="LabelPosition.Start" Color="Color.Secondary"
                             @bind-Value="@LoadImages" />

                <MudCheckBox Label="Rotate IP Addresses" LabelPosition="LabelPosition.Start" Color="Color.Secondary"
                             @bind-Value="@RotateIpAddresses" />

                <MudNumericField Label="Concurrency" Clearable="true"
                              @bind-Value="@Concurrency" Variant="@Variant.Text" />
            </MudStack>

            <div style="width: 100px; margin-top: auto; margin-left: auto;">
                <MudTooltip Text="Create new project" Delay="500" Color="Color.Primary">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.TwoTone.Category" Color="Color.Primary"
                               OnClick="@(() => CreateProjectAsyncCommand())">
                        Create
                    </MudButton>
                </MudTooltip>
            </div>
        </MudStack>
    </MudPaper>
</div>