@page "/EditProject"
@layout MainLayout
@using Liquidata.Client.Extensions
@using Liquidata.Client.Pages.Execution
@using Liquidata.Common.Actions
@using Liquidata.Common.Actions.Enums
@using MudBlazor
@using Liquidata.Client.Pages.ActionDisplay
@using Liquidata.Client.Pages.ActionOptions
@inherits EditProjectViewModel

<div style="height: 100%; display: grid; grid-template-columns: auto auto 1fr; grid-template-rows: 1fr auto; grid-gap: 5px; background-color: lightgray;">
    <!-- Navigation -->
    <div style="grid-row: 1 / span 2; grid-column: 1; background-color: gray; padding: 5px;">
        <MudStack>
            <MudTooltip Text="Home" Placement="Placement.Right"
                        Delay="500" Color="Color.Primary">
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.Home"
                               OnClick="@(() => NavigateHomeAsyncCommand())" />
            </MudTooltip>

            <MudTooltip Text="Save the current project" Placement="Placement.Right"
                        Delay="500" Color="Color.Primary">
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.Save"
                               OnClick="@(() => SaveProjectAsyncCommand())" />
            </MudTooltip>

            <MudTooltip Text="Save the current project as a new project" Placement="Placement.Right"
                        Delay="500" Color="Color.Primary">
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.SaveAs"
                               OnClick="@(() => SaveAsProjectAsyncCommand())" />
            </MudTooltip>

            <MudTooltip Text="Export the current project to a file" Placement="Placement.Right"
                        Delay="500" Color="Color.Primary">
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.FileDownload"
                               OnClick="@(() => ExportProjectAsyncCommand())" />
            </MudTooltip>

            <MudTooltip Text="Delete the current project" Placement="Placement.Right"
                        Delay="500" Color="Color.Primary">
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.TwoTone.Delete"
                               OnClick="@(() => DeleteProjectAsyncCommand())" />
            </MudTooltip>
        </MudStack>
    </div>

    <!-- Actions -->
    <div style="grid-row: 1 / span 2; grid-column: 2; background-color: lightgray; height: 100%; padding: 5px;">
        <div style="display: grid; grid-template-columns: auto 1fr auto; grid-template-rows: auto auto 1fr auto; height: 100%;">
            <div style="grid-row: 1; grid-column: 1 / span 3;">
                <MudStack Row="true">
                    <MudTooltip Text="Display project settings" Delay="500" Color="Color.Primary">
                        <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.TwoTone.Settings"
                                       OnClick="@(() => DisplayProjectSettingsAsyncCommand())" />
                    </MudTooltip>

                    <div style="margin-left: auto;">
                        <MudTooltip Text="Toggles browser selection mode" Delay="500">
                            <MudButton Variant="Variant.Filled" Color="@BuildBrowserModeColor()"
                                       OnClick="@(() => ToggleBrowserModeAsyncCommand())">
                                @(BrowserMode)
                            </MudButton>
                        </MudTooltip>
                    </div>
                </MudStack>
            </div>

            <div style="grid-row: 2; grid-column: 1 / span 2; margin-top: 5px;">
                <MudSelect Dense="true" Label="Active template" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"
                           MultiSelection="false" @bind-Value="SelectedTemplate">
                    @foreach (var template in CurrentProject.AllTemplates)
                    {
                        <MudSelectItem Value="@template" />
                    }
                </MudSelect>
            </div>

            <div style="grid-row: 2; grid-column: 3; margin-top: 5px; margin-left: 5px;">
                <MudTooltip Text="Add a new template" Delay="500" Color="Color.Primary">
                    <MudIconButton Icon="@Icons.Material.TwoTone.AddCard" Size="@Size.Large" Variant="Variant.Filled"
                                   OnClick="@(() => AddTemplateAsyncCommand())" />
                </MudTooltip>
            </div>

            <MudTreeView Style="grid-row: 3; grid-column: 1 / span 3; height: 100%; margin-top: 5px;" ExpandOnDoubleClick="true"
                         SelectionMode="SelectionMode.SingleSelection" Color="Color.Success" ReadOnly="false" Hover="true"
                         @bind-SelectedValue="SelectedAction" Items="@TemplateActionItems">
                <ItemTemplate Context="item">
                    <MudTreeViewItem Value="@item" Items="@item!.ChildActions" Expanded="true">
                        <BodyContent>
                            <ActionDisplay Action="@item" Parent="@this" />
                        </BodyContent>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>

            <MudExpansionPanels Style="grid-row: 4; grid-column: 1 / span 3;">
                <MudExpansionPanel Text="Options">
                    <ActionOptions Action="@SelectedAction" Parent="@this" />
                </MudExpansionPanel>
            </MudExpansionPanels>
        </div>
    </div>

    <!-- Browser -->
    <div style="grid-row: 1; grid-column: 3;">
        <iframe id="liquidata_browser" src="@ActiveUrl"
                onload="@(() => BrowserLoadedAsyncCommand())" />
    </div>

    <!-- Data -->
    <MudExpansionPanels Style="grid-row: 2; grid-column: 3; margin-right: 5px; margin-bottom: 5px;">
        <MudExpansionPanel Text="Data">
            <LiveExecutionResults />
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>