@layout MainLayout
@using Liquidata.Common.Actions
@using Liquidata.Common.Actions.Enums
@using MudBlazor
@inherits LiveExecutionResultsViewModel

<div style="height: 250px; width: 100%;">
    @if (!string.IsNullOrWhiteSpace(ExecutionMessage))
    {
        <div style="margin-top: auto; margin-bottom: auto;">
            @(ExecutionMessage)
        </div>
    }
    else if (ExecutionResults is not null)
    {
        <MudTable Hover="true" Loading="@IsResultsLoading" LoadingProgressColor="Color.Info"
                  Items="ExecutionResults.Records">
            <HeaderContent>
                @foreach (var column in ExecutionResults.AllColumns)
                {
                    <MudTh>@column</MudTh>
                }
            </HeaderContent>

            <RowTemplate>
                @foreach (var column in ExecutionResults.AllColumns)
                {
                    <MudTd DataLabel="@column">@context.GetRowData(column)</MudTd>
                }
            </RowTemplate>
        </MudTable>
    }
    else
    {
        <div style="margin-top: auto; margin-bottom: auto;">
            Unable to execute project
        </div>
    }
</div>