@layout MainLayout
@using MudBlazor
@inherits AddActionDialogViewModel

<MudDialog Style="height: 650px; width: 600px">
    <DialogContent>
        <MudStack Style="margin: 5px;">
            <h1>Add Action</h1>

            <MudTextField Label="Filter" Variant="Variant.Outlined"
                          @bind-Value="FilterText" Immediate="true" />

            <div style="display: @SelectionSectionVisibility(FilteredActionTypes); margin-bottom: 25px;">
                <h3>Selection</h3>
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    @foreach (var item in GetFilteredSelectionActions(FilteredActionTypes))
                    {
                        <MudTooltip Text="@BuildActionToolip(item)" Delay="500">
                            <MudButton Variant="Variant.Filled" StartIcon="@BuildActionIcon(item)" Color="@BuildActionColor(item)"
                                       OnClick="@(() => SelectActionTypeAsyncCommand(item))">
                                <MudText>@BuildFriendlyName(item)</MudText>
                            </MudButton>
                        </MudTooltip>
                    }
                </MudStack>
            </div>

            <div style="display: @DataSectionVisibility(FilteredActionTypes); margin-bottom: 25px;">
                <h3>Data</h3>
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    @foreach (var item in GetFilteredDataActions(FilteredActionTypes))
                    {
                        <MudTooltip Text="@BuildActionToolip(item)" Delay="500">
                            <MudButton Variant="Variant.Filled" StartIcon="@BuildActionIcon(item)" Color="@BuildActionColor(item)"
                                       OnClick="@(() => SelectActionTypeAsyncCommand(item))">
                                <MudText>@BuildFriendlyName(item)</MudText>
                            </MudButton>
                        </MudTooltip>
                    }
                </MudStack>
            </div>

            <div style="display: @LogicSectionVisibility(FilteredActionTypes); margin-bottom: 25px;">
                <h3>Logic</h3>
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    @foreach (var item in GetFilteredLogicActions(FilteredActionTypes))
                    {
                        <MudTooltip Text="@BuildActionToolip(item)" Delay="500">
                            <MudButton Variant="Variant.Filled" StartIcon="@BuildActionIcon(item)" Color="@BuildActionColor(item)"
                                       OnClick="@(() => SelectActionTypeAsyncCommand(item))">
                                <MudText>@BuildFriendlyName(item)</MudText>
                            </MudButton>
                        </MudTooltip>
                    }
                </MudStack>
            </div>

            <div style="display: @InteractionSectionVisibility(FilteredActionTypes); margin-bottom: 25px;">
                <h3>Interaction</h3>
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    @foreach (var item in GetFilteredInteractionActions(FilteredActionTypes))
                    {
                        <MudTooltip Text="@BuildActionToolip(item)" Delay="500">
                            <MudButton Variant="Variant.Filled" StartIcon="@BuildActionIcon(item)" Color="@BuildActionColor(item)"
                                       OnClick="@(() => SelectActionTypeAsyncCommand(item))">
                                <MudText>@BuildFriendlyName(item)</MudText>
                            </MudButton>
                        </MudTooltip>
                    }
                </MudStack>
            </div>

        </MudStack>
    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled"
                   OnClick="@(() => CloseDialogAsyncCommand())">
            Cancel
        </MudButton>
    </DialogActions>
</MudDialog>