@page "/Details/{ProductId}"
@layout MainLayout
@using MudBlazor
@inherits DetailsViewModel

<div style="width:100%; height: 100%; display: grid; grid-template-columns: auto 1fr; grid-template-rows: auto 1fr; padding: 25px;">
    <MudLink Href="/"><MudText Typo="Typo.h4" Style="grid-column: 1 / span 2; grid-row: 1;">Emporium</MudText></MudLink>

    @if (IsGeneratingData)
    {
        <div style="grid-row: 2; grid-column: 1 / span 2; height: 100%;">
            <div style="display: grid; grid-template-columns: 1fr auto 1fr; grid-template-rows: 1fr auto 1fr; height: 100%;">
                <MudStack Style="grid-row: 2; grid-column: 2;">
                    <MudProgressLinear Style="margin-left: auto; margin-right: auto;"
                                       Color="Color.Success" Rounded="true" Size="Size.Large" Striped="true"
                                       Value="@GeneratedCount" Max="@GeneratedTotal" />
                    <MudText Typo="Typo.h5" Align="Align.Center">Generating Data (@(GeneratedCount) / @(GeneratedTotal))</MudText>
                </MudStack>
            </div>
        </div>
    }
    else
    {

        <MudPaper Style="grid-column: 1; grid-row: 2; width: 250px; margin-top: 5px;" Outlined="true" Elevation="5">
            <MudPaper Style="grid-column: 1; grid-row: 2; width: 250px;" Outlined="true" Elevation="5">
                <CategoryList Data="@EmporiumData" />
            </MudPaper>
        </MudPaper>

        <MudPaper Style="grid-column: 2; grid-row: 2; margin-top: 5px; margin-bottom: 5px;"
                  Outlined="true" Elevation="5">
            <MudStack Style="margin-left: 15px; margin-right: 15px;">
                <MudText Style="margin-top: 15px; margin-bottom: 25px;" Typo="Typo.h5">@(Product?.Name) Details</MudText>

                <MudStack Style="margin: 5px;" Row="true">
                    <MudImage Src="@Product?.ImageLink" Height="300" Width="300" Elevation="10" ObjectPosition="ObjectPosition.Center" />

                    <MudStack>
                        <MudText Typo="Typo.h4" Align="Align.Left">
                            @Product?.Name
                        </MudText>

                        <MudText Align="Align.Left">Manufactured by @Product?.Manufacturer</MudText>
                        <MudRating Style="margin-right: auto;"
                                   MaxValue="10" ReadOnly="true" title="@($"{Product?.StarRating} rating")"
                                   SelectedValue="@((int)(Product?.StarRating ?? 0))" />
                        <MudText Align="Align.Left">$@(Product?.Price)</MudText>
                        <MudText Align="Align.Left">@(Product?.Quantity) available</MudText>
                        <MudText Align="Align.Left">@Product?.Description</MudText>
                    </MudStack>
                </MudStack>

                <MudText Style="margin-top: 15px; margin-bottom: 15px;" Typo="Typo.h6">Attributes</MudText>

                <MudTable Hover="true"
                          Items="@(Product?.Attributes ?? new Dictionary<string, string>())">
                    <HeaderContent>
                        <MudTh>Name</MudTh>
                        <MudTh>Value</MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="Name">@context.Key</MudTd>
                        <MudTd DataLabel="Value">@context.Value</MudTd>
                    </RowTemplate>
                </MudTable>

                <MudText Style="margin-top: 15px; margin-bottom: 15px;" Typo="Typo.h6">Reviews</MudText>

                <MudStack Row="true">
                    <MudTextField Style="width: 100%" Label="Review filter" Variant="@Variant.Outlined" Clearable="true"
                                  @bind-Value="SearchText"
                                  OnClearButtonClick="@(args => SearchReviewsAsyncCommand())"
                                  OnKeyDown="@(args => SearchKeyPressedAsyncCommand(args))" />

                    <div style="margin-top: auto; margin-bottom: auto;">
                        <MudTooltip Text="Filter the product reviews" Delay="500" Color="Color.Primary">
                            <MudButton Color="Color.Primary" Variant="Variant.Filled"
                                       OnClick="@(() => SearchReviewsAsyncCommand())">
                                Search
                            </MudButton>
                        </MudTooltip>
                    </div>
                </MudStack>

                <MudStack Spacing="1">
                    @foreach (var review in ReviewsOnPage)
                    {
                        <MudPaper Elevation="1">
                            <MudStack Style="margin: 5px;">
                                <MudStack Row="true">
                                    <MudText Align="Align.Left">@review.Reviewer</MudText>

                                    <MudRating MaxValue="10" ReadOnly="true" title="@($"{review.StarRating} rating")"
                                               SelectedValue="@((int)review.StarRating)" />
                                </MudStack>

                                <MudText Align="Align.Left">@review.Review</MudText>
                            </MudStack>
                        </MudPaper>
                    }
                </MudStack>

                <MudPagination Style="margin-bottom: 25px;" Rectangular="true" Variant="Variant.Text" Count="@TotalPages"
                               @bind-Selected="@SelectedPageIndex" />
            </MudStack>
        </MudPaper>
    }
</div>